* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* ============Common style============= */

.description {
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
    list-style: none;
}

.section-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
}

.btn-primary-1 {
    border-radius: 30px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    border: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-top: 25px;
}

.btn-primary-2 {
    border-radius: 30px;
    background: #4EC5F7;
    border: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-top: 25px;
}

/* ==========nav style section========= */

.nav {
    gap: 20px;
    display: flex;
}

nav {
    padding: 20px 240px 20px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
}

ul li {
    margin-right: 25px;
}

.nav-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.nav-follow {
    gap: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #0b02231a;
    padding: 15px;
}


/* ==============banner section style============= */

.banner {
    width: 100%;
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: bottom left, top right;
    gap: 5%;
}

.banner-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-title-goat {
    font-size: 95px;
    font-weight: 800;
    margin: 10px 0px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li>img {
    position: relative;
    bottom: -5px;
}

/* ===============we are gamer section================= */

.gamer-container {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.gamer-content {
    text-align: right;
}

#section-title-id {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#gamer-description,
#purpus-description {
    margin-top: 20px;
}

#quotes {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}

/* ============funny videos card style section========== */

.funny-container {
    width: 75%;
    margin: 100px auto;
}

.funny-title-content {
    text-align: center;
    margin-bottom: 50px;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

#funny-title-first {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.funny-title-second {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

#video-hv img {
    border: 5px solid tomato;
    border-radius: 50px;
    transition: outline 2s ease-in-out, box-shadow 0.2s ease-in-out 0.1s, border 0.1s ease-in-out 0.2s;
    border-radius: 50px;
}

#video-hv img:hover {
    border: 5px solid rgb(119, 0, 255);
    border-radius: 50px;
    box-shadow: 0px 90px 50px 180px rgb(10, 255, 1);
    -webkit-box-shadow: 0px 1px 10px 10px rgb(223, 160, 255);
    -moz-box-shadow: 0px 1px 50px 18px rgb(0, 119, 255);
    outline-color: #8758F1;
    outline-offset: -3px;
}

.image-container {
    width: 150px;
    position: relative;
    left: 860px;
    bottom: 297px;
}

.image-container img {
    width: 150px;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-container:hover img {
    opacity: 1;
    background-color: #000000;
    box-shadow: 0px 3px 80px 94px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 80px 80px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
}

/* ==========Play Instantly style section========== */

.insantly-conttainer {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 600px;
    background-size: contain;
    margin: 0 auto;
    background-image: url('images/Rectangle\ 55.png');
    background-repeat: no-repeat;
    background-position: bottom right, top right;
}

.insantly-conttainer img {
    width: 300px;
    position: relative;
    right: 408px;
    bottom: -224px;
    border: 2px solid rgba(255, 145, 0, 0.781);
    border-radius: 5px;

}

.instantly-title {
    text-align: right;
    margin-bottom: 20px;
}

.instantly-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}

/* ==========Online games style section========== */

.online-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 600px;
    background-size: contain;
    margin: 200px auto;
    background-image: url('images/Rectangle\ 67.png');
    background-repeat: no-repeat;
    background-position: bottom left, top left;
}

.online-container img {
    width: 300px;
    position: relative;
    left: 408px;
    bottom: -224px;
    border: 2px solid rgb(250, 110, 110);
    border-radius: 5px;
}

.online-title {
    text-align: left;
    margin-bottom: 20px;
}

.online-description {
    color: #534C64;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}


/* ==========Careers section style============ */


.careers-container {
    margin: 0 auto;
    color: #FFF;
    width: 100%;
    height: 700px;
    background-color: #ff4ca8;
}

.careers-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.careers-description {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.list-item {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;

}

.list-item li {
    list-style: none;
}

.careers-content {
    display: flex;
}

.text-container {
    margin-top: 200px;
    margin-left: 200px;
}

.text-group2 {
    text-align: right;
}



/* ===============games-category style section============ */

.category-container {
    border: 5px solid transparent;
}

.games-category {
    width: 70%;
    height: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-btn {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    border: 0;
}

.category-btn div {
    width: 190px;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.2s, background-color 0.2s ease-in-out 0.2s, border 0.2s ease-in-out 0.2s, color 0.2s ease-in-out 0.2s;
}

.category-btn div:hover {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    border: 5px solid #F948B2;
    transform: scale(1.2) translate(0px);
    color: #FFF;
    font-weight: 800;
}

/* ===========This Footer style=========== */

footer {
    padding-top: 95px;
    width: 100%;
    height: 400px;
    background-color: #0B0223;
}

footer>ul li {
    color: #FFF;
}

.footer-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 30px;
    gap: 20px;
}

.footer-img {
    margin-top: 30px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-last-text {
    color: white;
    text-align: center;
    margin-top: 30px;
}


.hidden {
    display: none;
}

/* ============={responsive small device}========== */

@media screen and (max-width:576px) {

    nav {
        padding: 0;
        width: 90%;
        margin: 20px auto;
        margin-bottom: 20px;
        box-shadow: none;
        flex-direction: column;

    }

    nav>ul {
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
    }

    .nav-follow {
        gap: 16px;
        padding: 10px;
    }

    /* ============================================= */

    .banner {
        flex-direction: column-reverse;
        width: 90%;
        margin: 0 auto;
    }

    .banner div>img {
        width: 80%;
        margin: 0 39px;
    }

    /* ============================================== */

    .gamer-container {
        flex-direction: column;
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    .gamer-container img {
        width: 100%;
    }

    .gamer-content,
    .section-title {
        text-align: center;
    }

    /* ============================================= */
    .funny-container {
        width: 90%;
        margin: 25px auto;
    }

    #funny-title-first {
        font-size: 40px;
    }

    .funny-title-second {
        font-size: 40px;
    }

    .card-content {
        flex-direction: column;
    }

    .image-container {
        position: relative;
        left: 116px;
        bottom: 772px;
    }

    /* ====================================== */

    .insantly-conttainer {
        flex-direction: column;
        text-align: center;
        width: 82%;
        height: 619px;
        margin-left: 60px;
        margin-top: 0;
    }

    .insantly-conttainer img {
        width: 50%;
        position: relative;
        left: -132px;
        bottom: -66px;

    }

    .instantly-title,
    .instantly-description {
        text-align: center;
    }

    /* ================================================ */

    .online-container {
        flex-direction: column-reverse;
        width: 82%;
        height: 584px;
        gap: 141px;
        margin-right: 60px;
    }

    .online-container img {
        width: 50%;
        position: relative;
        left: 130px;
        bottom: -74px;
    }

    .online-container div {
        text-align: center;
    }

    .online-title,
    .online-description {
        text-align: center;

    }

    /* ================================== */
    .careers-container {
        width: 100%;
        height: auto;
    }

    .careers-content {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .careers-content img {
        width: 385px;
        margin-top: 40px;
    }

    .text-container {
        margin: 0 auto;
    }

    .careers-title {
        text-align: center;
    }

    /* =========================================== */

    .games-category {
        width: 100%;
        height: auto;
    }

    .category-container img {
        width: 20px;
    }

    .category-container {
        width: auto;
        font-size: 10px;
    }

    .category-btn div {
        width: 108px;
        padding: 10px;
        border-radius: 50px;
    }

    /* ============{footer section style}============= */

    footer {
        width: 100%;
        height: 500px;
        padding-top: 30px;
    }

    .footer-list {
        flex-wrap: wrap;
    }

    .footer-img {
        flex-wrap: wrap;
        padding: 0 90px;
    }

}



/* ========={responsive medium device}========== */

@media screen and (min-width:577px) and (max-width:960px) {



    nav {
        padding: 0 20px;
        margin-top: 20px;
    }

    /* ================={banner}================= */


    .banner {
        width: 95%;
        margin: 50px auto;
        height: auto;
        background: none;
    }

    .img-div img {
        width: 100%;
    }


    /* ==========={We are gamer section style}============ */


    .gamer-container {
        height: auto;
        width: 95%;
        margin: 50px auto;
        flex-direction: column;
        margin: 0 auto;
        background: none;
        gap: 0;
    }

    .gamer-content {
        text-align: center;
    }

    .gamer-container img {
        width: 100%;
    }

    /* ==================={Funny card section style}===================== */

    .funny-container {
        height: auto;
        width: 95%;
        margin: 50px auto;
    }

    .card-content {
        gap: 20px;
        flex-wrap: wrap;
    }

    .image-container {
        width: 150px;
        position: relative;
        left: 97px;
        bottom: 303px;
    }

    /* ===================={Play Instantly section style}====================== */

    .insantly-conttainer {
        width: 57%;
        height: 764px;
        flex-direction: column;
    }

    .insantly-conttainer img {
        width: 198px;
        position: relative;
        right: 188px;
        bottom: -94px;
    }

    .instantly-title,
    .instantly-description {
        text-align: center;
    }

    /* ============{Online games section style}============ */
    
    .online-container {
        flex-direction: column-reverse;
        width: 57%;
        margin: 200px auto;
        height: 815px;
        gap: 147px;
    }

    .online-container img {
        width: 50%;
        position: relative;
        left: 211px;
        bottom: -120px;
    }

    .online-title,
    .online-description {
        text-align: center;

    }

    /* ====================={Careers section style}===================== */
    .careers-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-container {
        margin: 20px 20px;

    }

    .careers-container {
        margin: 0 auto;
        color: #FFF;
        width: 100%;
        height: auto;
        background-color: #ff8000;
    }

    .careers-content img {
        width: 100%;
    }

    /* ============={games-category style}============= */

    .games-category {
        width: 100%;
        height: auto;
    }

    .category-container img {
        width: 40px;
    }

    .category-container {
        width: auto;
        font-size: 10px;
    }

    .category-btn div {
        width: 108px;
        padding: 10px;
        border-radius: 50px;
    }

    /* ===================={footer section style}===================== */

    footer {
        width: 100%;
        height: 400px;
    }

    .footer-list {
        flex-wrap: wrap;
    }

    .footer-img {
        flex-wrap: wrap;
    }















}