* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* ============Common style============= */
.description {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}

.btn-primary-1 {
    border-radius: 30px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    border: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-top: 25px;
}

.btn-primary-2 {
    border-radius: 30px;
    background: #4EC5F7;
    border: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-top: 25px;
}

/* ==========nav style section========= */

.nav {
    gap: 20px;
    display: flex;
}

nav {
    padding: 20px 240px 20px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
}

ul li {
    margin-right: 25px;
}

.nav-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.nav-follow {
    gap: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #0b02231a;
    padding: 15px;
}


/* ==============banner section style============= */

