* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* ============Common style============= */
.description {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}

.section-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
}

.btn-primary-1 {
    border-radius: 30px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    border: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-top: 25px;
}

.btn-primary-2 {
    border-radius: 30px;
    background: #4EC5F7;
    border: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-top: 25px;
}

/* ==========nav style section========= */

.nav {
    gap: 20px;
    display: flex;
}

nav {
    padding: 20px 240px 20px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
}

ul li {
    margin-right: 25px;
}

.nav-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.nav-follow {
    gap: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #0b02231a;
    padding: 15px;
}


/* ==============banner section style============= */

.banner {
    width: 100%;
    height: 700px;
    background-image: url('images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: bottom left, top right;
}

.banner-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-title-goat {
    font-size: 95px;
    font-weight: 800;
    margin: 10px 0px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li>img {
    position: relative;
    bottom: -5px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
}

/* ===============we are gamer section================= */
.gamer-container {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.gamer-content {
    text-align: right;
}

#section-title-id {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#gamer-description,
#purpus-description {
    margin-top: 20px;
}

#quotes {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}

/* ============funny card style section========== */

.funny-container {
    width: 75%;
    margin: 100px auto;
}

.funny-title-content {
    text-align: center;
    margin-bottom: 50px;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

#funny-title-first {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.funny-title-second {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

/* ==========Play Instantly style section========== */
.instantly-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 600px;
    background-size: contain;
    margin: 0 auto;
    background-image: url('images/Rectangle\ 55.png');
    background-repeat: no-repeat;
    background-position: bottom right, top right;
}

.instantly-container img {
    width: 300px;
    position: relative;
    right: 408px;
    bottom: -224px;
    border: 2px solid rgba(255, 145, 0, 0.781);
    border-radius: 5px;

}

.instantly-title {
    text-align: right;
    margin-bottom: 20px;
}

.instantly-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}

/* ==========Online games style section========== */

.Online-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 600px;
    background-size: contain;
    margin: 200px auto;
    background-image: url('images/Rectangle\ 67.png');
    background-repeat: no-repeat;
    background-position: bottom left, top left;
}

.Online-container img {
    width: 300px;
    position: relative;
    left: 408px;
    bottom: -224px;
    border: 2px solid rgb(250, 110, 110);
    border-radius: 5px;
}

.instantly-title {
    text-align: left;
    margin-bottom: 20px;
}

.instantly-description {
    color: #534C64;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}


/* ==========Careers section style============ */


.careers-container {
    margin: 0 auto;
    color: #FFF;
    width: 1920px;
    height: 700px;
    /* background-image: url('images/Vector\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom right, top right; */
    background-color: #ff4ca8;
}

.careers-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.careers-description {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.list-item {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;

}

.list-item li {
    list-style: none;
}

.careers-content {
    display: flex;
}

.text-container {
    margin-top: 200px;
    margin-left: 200px;
}

.text-group2 {
    text-align: right;
}



/* ===============games-category style section============ */
.games-category {

    width: 70%;
    height: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.category-btn {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    border: 0;
}

.category-btn div {
    width: 190px;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid #ff6600;
    transition: transform 1s;
}

.category-btn div:hover{
    background-color: grey;
    border: 5px solid #F948B2;
    transform:  scale(1.2) translate(0px);
    color: #FFF;
font-weight: 800;
}

/* ===========This Footer style=========== */

footer{
    padding-top: 95px;
    width: 100%;
    height: 400px;
    background-color: #0B0223;
}
footer > ul li{
    color: #FFF;
}

.footer-list{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 30px;
    gap: 20px;
}
.footer-img{
    margin-top: 30px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-last-text{
    color: white;
    text-align: center;
    margin-top: 30px;
}