* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* ============Common style============= */
.description {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}

.section-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
}

.btn-primary-1 {
    border-radius: 30px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    border: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-top: 25px;
}

.btn-primary-2 {
    border-radius: 30px;
    background: #4EC5F7;
    border: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-top: 25px;
}

/* ==========nav style section========= */

.nav {
    gap: 20px;
    display: flex;
}

nav {
    padding: 20px 240px 20px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
}

ul li {
    margin-right: 25px;
}

.nav-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.nav-follow {
    gap: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #0b02231a;
    padding: 15px;
}


/* ==============banner section style============= */

.banner {
    width: 100%;
    height: 700px;
    background-image: url('images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: bottom left, top right;
}

.banner-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-title-goat {
    font-size: 95px;
    font-weight: 800;
    margin: 10px 0px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li>img {
    position: relative;
    bottom: -5px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
}

/* ===============we are gamer section================= */
.gamer-container {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.gamer-content {
    text-align: right;
}

#section-title-id {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#gamer-description, #purpus-description {
    margin-top: 20px;
}
#quotes {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}